@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 36% 11%;
    --foreground: 180 8% 97%;

    --card: 195 36% 11%;
    --card-foreground: 180 8% 97%;
    --popover: 195 36% 11%;
    --popover-foreground: 180 8% 97%;

    --primary: 12 76% 61%;
    --primary-foreground: 10 75% 95%;
    --secondary: 173 58% 39%;
    --secondary-foreground: 171 37% 93%;
    --muted: 192 40% 25%;
    --muted-foreground: 189 15% 91%;
    --accent: 43 74% 66%;
    --accent-foreground: 41 80% 96%;
    --destructive: 0 69% 48%;
    --destructive-foreground: 0 69% 94%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 14 78% 58%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
