---
import Link from "@/components/link.astro";
import { siteConfig } from "@/config/site";

const { author, footer } = siteConfig;
---

<footer class="border-primary border-t-2 px-14 py-6">
  <p class="flex flex-col items-center justify-center md:flex-row md:gap-1">
    <span>
      Copyright &copy; {footer?.copyrightYear ?? new Date().getFullYear()}
      <span>by <Link href={author.url}>{author.name}</Link></span>
    </span>
    {
      footer?.license && (
        <span>
          under <Link href={footer.license.url}>{footer.license.name}</Link>
        </span>
      )
    }
  </p>
</footer>
