---
import "@/styles/globals.css";

import Layout from "@/layouts/base-layout.astro";
import { siteConfig } from "@/config/site";
---

<Layout title={siteConfig.title}>
  <main class="flex-1">
    <p>Hello, World</p>
  </main>
</Layout>
