---
import type { CollectionEntry } from "astro:content";
import Link from "@/components/link.astro";
import { format } from "date-fns";

const { slug, data } = Astro.props;

type Props = Pick<CollectionEntry<"posts">, "slug" | "data">;
---

<p class="inline-flex flex-row items-baseline gap-1 text-2xl">
  <Link href={`./posts/${slug}`}>{data.title}</Link>
  <span class="select-none text-xl text-muted">
    {format(data.date, "MM/dd")}
  </span>
</p>
