---
import type { CollectionEntry } from "astro:content";
import Link from "@/components/link.astro";
import { format } from "date-fns";
import { MdStar } from "react-icons/md";

const { slug, data } = Astro.props;

type Props = Pick<CollectionEntry<"posts">, "slug" | "data">;
---

<p class="inline-flex flex-row items-center gap-1 text-2xl">
  {data.mark && <MdStar className="h-6 w-6 mr-2 ml-[-2.25rem] text-primary" />}
  <Link href={`./posts/${slug}`}>{data.title}</Link>
  <span class="select-none self-end text-xl text-muted">
    {format(data.date, "MM/dd")}
  </span>
</p>
